p[style*="visibility: hidden; position: absolute;"] ~ .gglcptch_v1,
p[style*="visibility: hidden; position: absolute;"] ~ .gglcptch_v2 {
    visibility: hidden;
    position: absolute;
}

p[style*="visibility: hidden; position: absolute;"] ~ .g-recaptcha {
    visibility: hidden;
    position: absolute;
}
